Flask==2.2.5
Werkzeug==2.2.3
Flask-SQLAlchemy==3.0.5
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-SocketIO==5.3.6
python-socketio==5.9.0
simple-websocket==1.0.0
gunicorn==21.2.0
eventlet==0.33.3
SQLAlchemy==1.4.41 